:global {
  [data-scrollbar] {
    position: absolute !important;

    &:before {
      background: linear-gradient(to bottom, $color-black 0%, rgba($color-black, 0) 100%);
      content: '';
      display: block;
      height: 200px;
      left: 0;
      position: absolute;
      top: 0;
      transition: opacity 0.4s ease, visibility 0.4s ease;
      width: 100%;
      z-index: 1;
    }
  }

  .scroll-content {
    height: 100%;
    width: 100%;
  }

  .scrollbar-track {
    background: rgba($color-eva-orange, 0.1) !important;
    border-left: 1px solid rgba($color-eva-orange, 0.3) !important;
  }

  .scrollbar-track-x {
    height: 4px !important;
    border-left: none !important;
    border-top: 1px solid rgba($color-eva-orange, 0.3) !important;
  }

  .scrollbar-track-y {
    width: 6px !important;
  }

  .scrollbar-thumb {
    background: $color-eva-orange !important;
    border-radius: 0 !important;
    width: 4px !important;
    box-shadow: 0 0 10px rgba($color-eva-orange, 0.5) !important;
    
    &:hover {
      background: $color-nerv-active !important;
      box-shadow: 0 0 15px rgba($color-nerv-active, 0.7) !important;
    }
  }
}
